
#Login{
    flex: 1;
    width: 100%
}
#Login header{
    width: 100%;
    text-align: center;
    padding-top: 0.8rem;
}
#Login .Himg{
    width: 1.28rem;
    height: 1.28rem;
}
#Login .Hp{
    font-weight: normal;
    color: #000;
    font-size: .48rem;
    margin-top: .266667rem;
}
