
#Lzhuce{
    width: 8.933333rem;
    margin-left: .533333rem;
    text-align: center;
    #ZhuceHead{
        margin-top: .88rem;
        font-size: .533333rem;
        color: #000;
    }
    .zujian{
        width: 100%;
    }
}