
#Lmain{
    width: 8.933333rem;
    height: auto;
    margin: 0 0.533333rem;
    .yanzh1{
        width: 100%;
        border-bottom: 1px solid #d3d3d3;
        span{
            line-height: 1.4;
            font-size: 18px;
            color: #8d8c8c;
            font-weight: 550;
            display: inline-block;
            width: 1.48rem;
            padding: 0 10px;
            box-sizing: border-box;
        }
        input{
            border: none;
            padding: 0 10px;
            box-sizing: border-box;
            width: 7.053333rem;
            height: 1.06rem;
            font-size: 18px;
            font-weight: 520;
            margin-left: 10px;
        }
    }
    .yanzh2{
        width: 100%;
        border-bottom: 1px solid #d3d3d3;
        span{
            line-height: 1.4rem;
            font-size: 14px;
            cursor: pointer;
            color: #2ea5e5;
            display: inline-block;
            width: 2.9rem;
            text-align: center;
            box-sizing: border-box;
        }
        input{
            border: none;
            box-sizing: border-box;
            width: 6rem;
            height: 1.4rem;
            font-size: 17px;
            font-weight: 520;
            padding-left: 2px;
        }
    }
    .btn1{
        .ant-btn-primary {
            display: inline-block;
            color: #fff;
            background-color: #ff6700;
            border-color: #ff6700;
            margin: 0.64rem 0;
            height: 1.173333rem;
            font-size: 18px;
            border-radius: 6px;
        }
    }
    .btn2{
        .ant-btn {
            display: inline-block;
            height: 1.173333rem;
            font-size: 18px;
            border-radius: 6px;
            color: rgb(20, 20, 20);
            margin-top: -10px;
        }
    }
}