
#TapShow{
    width: 100%;
    height: auto;
    margin-left: -0.266667rem;
    .TapShow-name{
        width: 100%;
        text-align: center;
        margin: 30px 0 ;
        font-weight: bold;
        font-size: 16px;
    }
    .TapShow-goods{
        width: 100%;
        padding: 0 5px;
        height: auto;
        overflow: auto;
        .goods-ul{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .goods-li{
                width: 30%;
                text-align: center;
                margin-bottom: .226667rem;
                img{
                    width: 1.4rem;
                    height: 1.4rem;
                }
                p{
                    font-size: 11px;
                    color: rgba(0,0,0,.54);
                    margin-top: .28rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }
}