
#ZCmain{
    width: 8.533333rem;
    margin-left: 5px;
    .ZCyanzh1{
        width: 100%;
        border-bottom: 1px solid #d3d3d3;
        margin-top: 50px;
        text-align: left;
        span{
            line-height: 1.066667rem;
            font-size: 18px;
            
            display: inline-block;
            &:nth-child(1){
                width: 7.466667rem;
                color: #555;
                margin-left: 3px;
            }
            &:nth-child(2){
                color: rgba(0,0,0,0.3);
                font-size: 14px;
                margin-left: 20px;
            }
        }
    }
    .ZCyanzh1-p{
        text-align: left;
        margin-top: 3px;
        margin-left: 3px;
        color: #9b9b9b;
        font-size: 12px;
    }
    .ZCyanzh2{
        width: 100%;
        border-bottom: 1px solid #d3d3d3;
        text-align: left;
        margin-top: 15px;
        span{
            line-height: 1.4;
            font-size: 18px;
            color: #555;
            font-weight: 550;
            display: inline-block;
            width: 1.3rem;
            padding: 0 3px;
            box-sizing: border-box;
        }
        input{
            width: 6rem;
            border: none;
            height: 1.06rem;
            font-size: 18px;
            font-weight: 520;
            margin-left: 14px;
            color: #7c7979;
        }
    }
    .ZCbtn1{
        .ant-btn-primary {
            display: inline-block;
            color: #fff;
            background-color: #ff6700;
            border-color: #ff6700;
            margin: 0.64rem 0;
            height: 1.173333rem;
            font-size: 18px;
            border-radius: 6px;
        }
    }
    .ZChck{
        color: #9b9b9b;
        text-align: left;
        .spp{
            border-bottom: 1px solid #9b9b9b;
        }
    }
    .ant-radio-checked .ant-radio-inner{
        border-color: #ff6700;
    }
}
.ant-radio-checked::after {
    border: 1px solid #ff6700;
}