.MineTop{
    width:100%;
    height: 2.333333rem;
    background: orangered;
    box-sizing: border-box;
}   
.Minepic{
    width: 1.666667rem;
    height: 1.666667rem;
    background: orange;
    border-radius: 50%;
    display: inline-block;
    margin-top: .36rem;
    margin-left: .266667rem;
}
.Iconuser{
    margin-top: .26rem;
    margin-left: .366667rem;
}
.mineword{
    font-size: .566667rem;
    color: #fff;
    display: inline-block;
    margin-left: .133333rem;
}